@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

span{
    font-weight: 700;
}

.resultado{
    background-color: aliceblue;
    margin:auto;
    border: 1px dotted black;
    width: 20%;
    text-align: center;
}